/* 1280 */
.cover__subtitle {
  margin: 16px auto 0;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 288px;
  min-width: 198px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__subtitle{
      max-width: 360px;
      margin: 32px 0 0;
      font-size: 18px;
      line-height: 22px;
  }
}